---
# SeeAlso: https://github.com/mvdan/github-actions-golang
name: CI
on:
  pull_request: ~
  push:
    branches:
      # These are the branches that we want CI to run on direct pushes.
      # All other changes should go through PRs.
      - master
    paths:
      - '**.go'

jobs:
  test:
    strategy:
      matrix:
        # go-version: [1.12.x, 1.13.x]
        go-version: [1.13.x]
        # platform: [ubuntu-latest, macos-latest, windows-latest]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v1
      - name: Test
        run: go test ./... -v -race -covermode=atomic -coverprofile=coverage.txt
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}  # required
          file: ./coverage.txt
          flags: unittests
          name: codecov-umbrella
      - uses: actions/labeler@v2
        with:
          repo-token: "${{ secrets.GITHUB_TOKEN }}"
