---
name: CI
on:
  pull_request: ~
  push:
    branches:
      # These are the branches that we want CI to run on direct pushes.
      # All other changes should go through PRs.
      - master
    paths:
      - '**.scala'
      - '**.sbt'

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - java: 11
            jobtype: 1
          - java: 11
            jobtype: 2
          - java: 11
            jobtype: 3
          - java: 14
            jobtype: 1
          - java: 14
            jobtype: 2
          - java: 14
            jobtype: 3
    runs-on: ubuntu-latest
    env:
      # define Java options for both official sbt and sbt-extras
      JAVA_OPTS: -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
      JVM_OPTS:  -Xms2048M -Xmx2048M -Xss6M -XX:ReservedCodeCacheSize=256M -Dfile.encoding=UTF-8
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup
      uses: olafurpg/setup-scala@v12
      with:
        java-version: "openjdk@1.${{ matrix.java }}"
    - name: Coursier cache
      uses: coursier/cache-action@v6
    - name: Build and test
      run: |
        case ${{ matrix.jobtype }} in
          1)
            sbt -v "mimaReportBinaryIssues; scalafmtCheckAll; +test;"
            ;;
          2)
            sbt -v "scripted actions/*"
            ;;
          3)
            sbt -v "dependency-management/*"
            ;;
          *)
            echo unknown jobtype
            exit 1
        esac
        rm -rf "$HOME/.ivy2/local" || true
        find $HOME/Library/Caches/Coursier/v1        -name "ivydata-*.properties" -delete || true
        find $HOME/.ivy2/cache                       -name "ivydata-*.properties" -delete || true
        find $HOME/.cache/coursier/v1                -name "ivydata-*.properties" -delete || true
        find $HOME/.sbt                              -name "*.lock"               -delete || true
      shell: bash
<<<<<<< HEAD
    - uses: actions/labeler@v2
      with:
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
=======
>>>>>>> 54ba081e50c51355d2ee72b8e49e3181c3815014
